:root {
  --header-bg-color: #fff;
  --header-bg-hover-color: #fff;
  --header-active-menu-bg-color: #fff;

  --sider-dark-bg-color: #fff;
  --sider-dark-darken-bg-color: #fff;
  --sider-dark-lighten-1-bg-color: #fff;
  --sider-dark-lighten-2-bg-color: #fff;
  --sider-dark-lighten-3-bg-color: #fff;
}

// =================================
// ==============Header=============
// =================================

@header-dark-bg-color: var(--header-bg-color);
@header-dark-bg-hover-color: var(--header-bg-hover-color);
@header-light-bg-hover-color: #f6f6f6;
// @header-light-desc-color: #7c8087;
// @header-light-bottom-border-color: #eee;
// top-menu
@header-menu-bg-active-color: var(--header-active-menu-bg-color);

// =================================
// ==============Menu============
// =================================

// let -menu
@sider-dark-bg-color: var(--sider-dark-bg-color);
@sider-dark-darken-bg-color: var(--sider-dark-darken-bg-color);
@sider-dark-lighten-1-bg-color: var(--sider-dark-lighten-1-bg-color);
@sider-dark-lighten-2-bg-color: var(--sider-dark-lighten-2-bg-color);
@sider-dark-lighten-3-bg-color: var(--sider-dark-lighten-3-bg-color);

/** Ant Design Vue 主题样式 ps:定制主题样式会覆盖自定义主题样式 @primary-color默认值#1890ff会被自定义主题覆盖，改为其他则会覆盖自定义主题*/
@primary-color: #1890ff; // primary color for all components
@link-color: #1890ff; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 14px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 0px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers